* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.container--width {
    width: 80%;
    margin: 0 auto;
}

.nav--container {
    background-color: antiquewhite;
    display: flexbox;

}

.nav--logo {
    /* margin-left: 10%; */
}

.main--container {
    background-color: beige;
    height: auto;
}

.intro--container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.intro--sidebar {
    background-color: seashell;
    display: grid;
    justify-items: center;
    grid-template-rows: 200px;
}

.circular--image {
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
}

.intro--sidebar-link {
    background-color: mistyrose;
    display: block;
    text-align: center;
}

.intro--content {
    background-color: lavenderblush;
    font-size: 24px;
    font-weight: 300;
}

.article--container {
    background-color: lemonchiffon;
}

.article--layout-one {
    background-color: azure;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* .article--layout-one__image{
    width: 100%;
} */

/* Tablet and Mobile View */
@media only screen and (max-width: 1025px) {
    /* For tablet: 601 x 962*/
    /* .container--width {
        width: 601px;
    } */
}

@media only screen and (max-width: 602px) {

    /* For mobile 414 x 896: */
    .container--width {
        width: 100%;
    }

    .intro--container {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: none;
    }

    .intro--text {
        background-color: lavenderblush;
        grid-column-start: auto;
        grid-column-end: auto;
        grid-row-start: auto;
        grid-row-end: auto;
    }


}

@media only screen and (max-width: 415px) {
    /* For mobile: */



}